#  Any of these in position 1
! of a line will lead to it
;  being considered a comment


[Options]
veg_is_deciduous     : .False.
start_from_restart   : .False.
layers_in_canopy     : 10
layers_in_soil       : 20
steps_per_day        : 24
days_per_year        : 365 #must be whole number!
number_of_years      : 1 
loop_met_driver      : .True.
# Enter the location, b/wn -180 and +180E, and -90 and +90N
latitude_deg_north   : 50.00
longitude_deg_east   : 002.00
log_messages_to_screen : 5  # 0 (all), 1 (info) -- 6 (fatal), 7 (none)


[Initialisation]
soils       : example_inputs/example_evergreen_soil.csv
vegetation  : example_inputs/example_evergreen_veg.csv
restart     : 


[Meteorology driver]
filename                 : example_inputs/example_evergreen_met.csv
file_is_netcdf           : .False. # false=default
temp_in_kelvin           : .False. # False=>Celcius(default)
file_has_co2             : .True.  # does met-file contain a co2 variable?
file_has_par             : .False. # does met-file contain a PAR variable?
precip_is_rate           : .False. # is ppt in volume (mm) or rate (mm/sec)
#constant_CO2_concentration : 358.8 # (ppm) Concentration of atmospheric CO2 (Default=360)
#constant_sfc_pressure      : 990 # (mb)  Atmospheric surface pressure (Default=1000)
#
# #Dim-names..
# time      : time
# latitude  : lat
# longitude : lon
#
# #Var-names..
# air_temperature          : sat
# carbon_dioxide           : coa
# photo_active_rad         : par
# precipitation            : precip      
# sw_radiation             : swrad
# vapour_pressure_deficit  : vpd
# wind_speed               : windsp  


[Output]
# nb: you must include the last backslash on the directory name.
directory               : output/
standard_csv_output     : .True.
write_restart_file      : .False.
restart_write_frequency : 5 # (integer years)


[Met Parameters]


[Veg Parameters]


[Soil Parameters]
